<a href="https://colab.research.google.com/github/augustofps/Site-Atos-Inform-tica/blob/main/pratica_python_sqlite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import sqlite3

# Cria uma conexão com o banco de dados (ou cria o arquivo se não existir)
conn = sqlite3.connect('centro_cultural.db')
cursor = conn.cursor()

# Cria a tabela
cursor.execute('''
CREATE TABLE IF NOT EXISTS Oficina (
    id INTEGER PRIMARY KEY,
    nome TEXT,
    data TEXT,
    hora TEXT,
    descricao TEXT
)
''')

# Insere um registro
cursor.execute('''
INSERT INTO Oficina (nome, data, hora, descricao)
VALUES ('Oficina de Música', '2024-06-05', '16:00', 'Aulas de música para crianças')
''')

# Consulta os dados
cursor.execute('SELECT * FROM Oficina')
print(cursor.fetchall())

conn.commit()
conn.close()

[(1, 'Oficina de Música', '2024-06-05', '16:00', 'Aulas de música para crianças'), (2, 'Oficina de Música', '2024-06-05', '16:00', 'Aulas de música para crianças'), (3, 'Oficina de Música', '2024-06-05', '16:00', 'Aulas de música para crianças')]